<a href="https://colab.research.google.com/github/PradeepAbburi/my_projects/blob/main/GCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 18/03/24

---

# FUNCTIONS

CALLING A FUNCTION

---

In [ ]:
def my_func(x):
  print(x)
my_func('pradeep')

pradeep

ARGUMENTS

---

In [ ]:
def my_func(x):
  print(x+ " fruit")
my_func("apple")
my_func("banana")
my_func("tomato")

apple fruit
banana fruit
tomato fruit



*   NO.OF ARGUMENTS

In [ ]:
def my_func(x,y):
  print(x+""+y)
my_func("pradeep"," abburi")

pradeep abburi



*   ARBITARY ARGUMENTS

In [ ]:
def my_func(*args):
  print("THE YOUNGEST CHILD IS"+ args[0])
my_func(" Pradeep", " Ashok", " Guru")

THE YOUNGEST CHILD IS Pradeep



*   KEYWORD ARGUMENTS

In [ ]:
def my_func(child3, child2, child1):
  print("The youngest child is " + child3)

my_func(child1 = " PRADEEP", child2 = " ASHOK", child3 = " GURU")

The youngest child is  GURU

In [ ]:
def my_func(**kids):
  print("the youngest child is" + kids["x"])
my_func(x= " Ashok" , y= " Pradeep")

the youngest child is Ashok

DEFAULT PARAMETER VALUE

---

In [ ]:
def my_func(country="India"):
  print(country)
my_func("America")
my_func("Africa")
my_func()
my_func("Antarctica")

America
Africa
India
Antarctica

PASSING LIST AS A PARAMETER

---

In [ ]:
def my_func(food):
  for x in food:
    print(x)

fruits = ["Apple", "tomato", "Kiwi"]

my_func(fruits)

Apple
tomato
Kiwi

In [ ]:
def my_func(food):
  for x in food:
    print(x)
fruits = ["kiwi","pineapple","banana"]
my_func(fruits)

kiwi
pineapple
banana

RETURN VALUES

---

In [ ]:
def my_func(x):
  return 2 * x

print(my_func(4))
print(my_func(9))
print(my_func(6))

8
18
12

POSITIONAL- ONLY ARGUMENTS

---

In [ ]:
def my_func(x, /):
  print(x)

my_func(4)

4

KEYWORD-ONLY ARGUMENTS

---

In [ ]:
def my_func(*, x):
  print(x)

my_func(x = 3)

3

BOTH POSITION-ONLY AND KEYWORD-ONLY

---

In [ ]:
def my_func(a, b, /, *, c, d):
  print(a + b + c + d)

my_func(5, 6, c = 7, d = 8)

26

# 20/03/24

---

# WAYS OF SWAPING LISTS

---

 Find the length of the list and simply swap the first element with (n-1)th element.

In [ ]:
def func(NewList):
  size = len(NewList)

  temp = NewList[0]
  NewList[0] = NewList[size-1]
  NewList[size-1] = temp

  return NewList

NewList= [20,50,66,99]

print(func(NewList))

['99', '50', '66', '20']

 The last element of the list can be referred as list[-1]. Therefore, we can simply swap list[0] with list[-1].

In [ ]:
def func(newlist):

  newlist[0],newlist[-1] = newlist[-1] ,newlist[0]

  return newlist

newlist = [22,33,44,55,66]
print(func(newlist))

['66', '33', '44', '55', '22']

Using * operand.
This operand proposes a change to iterable unpacking syntax, allowing to specify a “catch-all” name which will be assigned a list of all items not assigned to a “regular” name.

In [ ]:
def func(newlist):
  start,*middle,end = newlist
  newlist = end,*middle,start

  return newlist
newlist= [20,40,30,60,70,90]
print(func(newlist))

(90, 40, 30, 60, 70, 20)

swap the first and last element using builtin function pop remove the first elemt and last elemt and store them and swap them

In [ ]:
def func(newlist):

  first = newlist.pop(0)
  last = newlist.pop(-1)

  newlist.insert(0, last)
  newlist.append(first)

  return newlist

newlist = [22,33,44,55,66,77]
print(func(newlist))

[77, 33, 44, 55, 66, 22]

first we have to check i fit has atleast two elements and then swap the last index with first and first with the last and then print the original list and then swapped list

In [ ]:
def func(newlist):
  if len(newlist) >= 2:
    newlist = newlist[-1:]+ newlist[1:-1] + newlist[:1]

    return newlist

newlist = [11,22,33,44,55,66]

print('the original value is:',newlist)

result = func(newlist)

print("the swapped value is:",result)

the original value is: [11, 22, 33, 44, 55, 66]
the swapped value is: [66, 22, 33, 44, 55, 11]

swap the positions of elemts in list by first element to third element and third element to first

In [ ]:
def func(newlist,pos1,pos2):

  first_element = newlist.pop(pos1)
  second_element = newlist.pop(pos2-1)

  newlist.insert(pos2, first_element)
  newlist.insert(pos1, second_element)

  return newlist

newlist= [22,33,44,55,66]
pos1,pos2 = 1,2

print(func(newlist,pos1-1,pos2-1))

[33, 44, 22, 55, 66]

# GEEKS FOR GEEKS PROBLEMS

---

Given a Integer array A[] of n elements. Your task is to complete the function PalinArray. Which will return 1 if all the elements of the Array are palindrome otherwise it will return 0.

In [ ]:
def PalinArray(arr ,n):
    # Code here

    a = []
    for i in range(n):
        if str(arr[i])== str(arr[i])[::-1]:
            a.append(arr[i])
    if a==arr:
        return 1
    else:
        return 0

Print 1 to n numbers without using loops

In [ ]:
result = []
def solution(n):
  result.append(n)
  if n == 1:
    return
  else:
    return solution(n-1)

solution(5)
print(*result[::-1])

1 2 3 4 5

# 21/03/24

---

# GEEKS FOR GEEKS PROBLEMS



---

For a given 3 digit number, find whether it is armstrong number or not. An Armstrong number of three digits is a number such that the sum of the cubes of its digits is equal to the number itself. Return "Yes" if it is a armstrong number else return "No".

In [ ]:
class Solution:
    def armstrongNumber (self, n):
        # code here

        S = 0
        for i in str(n):
            S += int(i)**3
        if S==n:
            return "Yes"
        else:
            return "No"

\

---

find the length of the string without using len function

In [ ]:
new_list = [22,33,44,55,66]

print("the list is :", str(new_list))

counter = 0
for i in new_list:
  counter = counter + 1
print(" the length of the list is:", str(counter))

the list is : [22, 33, 44, 55, 66]
 the length of the list is: 5

find the length of the list using length hint method

In [ ]:
from operator import length_hint

new_list = [22,33,44,55,66]
print("the list is:", str(new_list))

list_len_hint = length_hint(new_list)

print("the length of the list is:", str(list_len_hint))

the list is: [22, 33, 44, 55, 66]
the length of the list is: 5

find the lenth of the list using sum() function

In [ ]:
new_list = [22,33,44,55,66,77]

print("the list is:"+ str(new_list))

list_len = sum(1 for i in new_list)
print("The length of the list is:"+ str(list_len))

the list is:[22, 33, 44, 55, 66, 77]
The length of the list is:6

find the length of the list using enumerate

In [ ]:
new_list = [22,33,44,55,66,77,88]
s = 0
print("the list is:", new_list)
for i, a in enumerate(new_list):
  s += 1
print("the length of the list is ", s)

the list is: [22, 33, 44, 55, 66, 77, 88]
the length of the list is  7

# 22/03/24

---

# STRING REVERSING

---

reverse words in a given string

In [ ]:
string = ("hello this is pradeep")

l = []

x = string.split()[::-1]

for i in x:
  l.append(i)
print(''.join(l))

pradeepisthishello

In [ ]:
def func(words):
  x = words.split()

  y = ''.join(reversed(x))

  return y
func("hello this is pradeep")

'pradeepisthishello'

check if string contains substring or not

In [ ]:
n = ("this is pradeep")

if "pradeep" in n:
  print("it is in the string")
else:
  print("it is not in the string")

it is in the string

find sub string using split method

In [ ]:
n = ("this is pradeep")
x = "pradeep"

y = n.split()

if x in y:
  print("substring found")
else:
  print("no sub string")

substring found

find the substring using find method

In [ ]:
def func(x,y):
  if x.find(y) == -1:
    print("No")
  else:
    print("Yes")
x = "pradeep is good boy"
y ="pradeep"
func(x,y)

Yes

find given number is armstrong or not using len method

In [ ]:
n = int(input())
s = str(n)
x = len(s)
q = 0

for i in s:
    q += int(i)**x

if q == n:
    print("Armstrong")
else:
    print("Not an Armstrong number")

153
Armstrong

# 26/03/24

---

In [ ]:
x = ("balu manchi baludu")
y = str(x)
z = y.split()
print(z)

['balu', 'manchi', 'baludu']

remove vowels from list

In [ ]:
def remove_vowels(text):
    result = ""
    for i in text:
        if i not in 'aeiouAEIOU':
            result += i
    return result

input_string = "Hello World"
result = remove_vowels(input_string)
print(result)

Hll Wrld

find the intersection of two arrays without using a method

In [ ]:
def intersection(arr1, arr2):
    result = []

    for elem in arr1:
        if elem in arr2 and elem not in result:
            result.append(elem)

    return result

array1 = [1, 2, 3, 4, 5]
array2 = [4, 5, 6, 7, 8]
intersect = intersection(array1, array2)
print(intersect)

[4, 5]

In [ ]:
x = "balu"
y = " "

for i in x[::-1]:
  y += i
print(y)

 ulab

In [ ]:
a=[22,34,45,22,1]
large=0
for i in a:
  if i>large:
    large=i
print(large)

1

In [ ]:
a=[1,1,1,3,4,5,3,2]
key=int(input("enter key value:"))
count=0
for i in a:
  if key==i:
    count+=1
print(count)

enter key value:3
2

In [ ]:
my_list = [1, 2, 2, 3, 4, 1]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4]

In [ ]:
cel=34
fro=(cel*9/5)+32
print(fro)

93.2

In [ ]:
fro=34
cel=(fro-32)*5/9
print(fro)

34

In [ ]:
n=int(input("enter n value:"))
sum=0
t=n
b=str(n)
c=len(b)
while n!=0:
  r=n%10
  sum=sum+r**c
  n//10
if sum==t:
  print("amstrong")
else:
  print("not  an amstrong number")

In [ ]:
a="litsen"
b="silent"
c=sorted(a)
d=sorted(b)
if len(c)==len(d):
    if c==d:
        print('ANAGRAM')
    else:
        print("not")

ANAGRAM

# 27/03/24

---

creating a class and object in python

In [ ]:
class Dog:
  attr1 = "mammal"
  def __init__(self,name):
    self.name = name

  def speak(self):
    print("My name is {}".format(self.name))

Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

Rodger.speak()
Tommy.speak()

creating a class and object in python and printing the atrritubes in class

In [ ]:
class Dog:
  attr1 = "mammal"
  attr2 = "is also a mammal"
  def __init__(self,name):
    self.name = name
Rodger = Dog("Rodger")
Tommy = Dog("Tommy")

print("Rodger is a {}".format(Rodger.__class__.attr1))
print("Tommy is a {}".format(Tommy.__class__.attr2))

# 28/03/24

---

# STRING METHODS

---

In [ ]:
#capitalize (converts starting letter into capital)
x= "apple"
y = x.capitalize()
print(y)

Apple

In [ ]:
#title (converts first letter into upercase)
x = "hello world"
y = x.title()
print(y)

Hello World

In [ ]:
#casefold (converts any  string into lower case)
x = "ApPle"
y = x.casefold()
print(y)

apple

In [ ]:
#upper (converts any string into upper case)
x = "Apple"
y = x.upper()
print(y)

APPLE

In [ ]:
#lower (converts any string into lower case)
x = "Apple"
y = x.lower()
print(y)

apple

In [ ]:
#center (moves any string to the center)
x = "Apple"
y = x.center(20)
print(y)

       Apple

In [ ]:
#count (counts how many strings are in the sentence)
x = "i love apples, apple is my favorite fruit"
y = x.count("apple")
print(y)

2

In [ ]:
#encode (converts the sentence into a type of code which we cant undertand)                                                                                                              )
x = "my name is Ståle"
y = x.encode()
print(y)

b'my name is St\xc3\xa5le'

In [ ]:
#startswith ( it checks wheather the string starts with it or not)
x = "hello everyone."
y = x.startswith(".")
print(y)

False

In [ ]:
#endswith ( it checks wheather the string ends with it or not)
x = "hello everyone."
y = x.endswith(".")
print(y)

True

In [ ]:
#replace
x = "I Like Apple"
y = x.replace("Apple","Banana")
print(y)

I Like Banana

In [ ]:
#strip (removes spaces at begining and ending of the string )
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
#swapcase (lowercase becomes upper ase and uppercase becomes lower case)
x = "Hello Everyone"
y = x.swapcase()
print(y)

hELLO eVERYONE

In [ ]:
#expandtabs (gives spaces to strings)
x = "h\te\tl\tl\to guys"
y = x.expandtabs(2)
print(y)

h e l l o guys

In [ ]:
#find (where is the string in the sentence)
x= "apple is good for health"
y = x.find("apple")
print(y)

0

In [ ]:
#format
x= "its only is {price:.2f} dollars!"
print(x.format(price=49))

its only is 49.00 dollars!

In [ ]:
#index (gives index value of string)
x = "hello world"
y = x.index("world")
print(y)

6

In [ ]:
#is alpha (wheather it is alphabet or not)
x = "hello"
y = x.isalpha()
print(y)

True

In [ ]:
#isdigit (wheather it is digit or not)
x = "hello"
y = x.isdigit()
print(y)

False

In [ ]:
#is decimal (wheather it is decimal or not)
x = "hello"
y = x.isdecimal()
print(y)

False

In [ ]:
#is numeric (wheather it is numeric or not)
x = "hello"
y = x.isnumeric()
print(y)

False

In [ ]:
#isalum (wheather it is alphabet and numberic or not)
x = "hello20"
y = x.isalnum()
print(y)

True

In [ ]:
#isidentifier
x = "hello"
y = x.isidentifier()
print(y)

True

In [ ]:
#islower (wheather it is lower string or not)
x = "hello"
y = x.islower()
print(y)

True

In [ ]:
#isupper (wheather it is upper string or not)
x = "hello"
y = x.isupper()
print(y)

False

In [ ]:
#isspace
x = "hello world"
y = x.isspace()
print(y)

False

In [ ]:
#istitle
x = "Hello20@"
y = x.istitle()
print(y)

True

In [ ]:
#isprintable (wheather the string is printable or not)
x = "hell0"
y = x.isprintable()
print(y)

True

In [ ]:
#isascii
x = "hello"
y = x.isascii()
print(y)

True

In [ ]:
#split (sepraates a sentence into a different strings)
x = "hello good morning everyone"
y = x.split()
print(y)

['hello', 'good', 'morning', 'everyone']

In [ ]:
#join
x = ("join","this","string")
y = "#".join(x)
print(x)

('join', 'this', 'string')

spliting a string into two parts

In [17]:
string = "pradeep"
mid = len(string)//2
left = string[:len(string)//2]
right = string[len(string)//2:]
print(left)
print(right)

pra
deep

Reverse a String

In [2]:
x = "i am a good boy"
y = x.split()[::-1]
print(" ".join(y))

boy good a am i

# LIST METHODS

---

In [ ]:
#append
x = ['hello','jink']
x.append('sing')
print(x)

['hello', 'jink', 'sing']

In [ ]:
#extend
x = ["hello","king"]
z = ["mango","banana"]
x.extend(z)
print(x)

In [ ]:
#pop
x = ["hello","banana","grapes"]
y = x.pop(2)
print(y)

In [ ]:
#remove
x = ["hello","banana","grapes"]
y = x.remove("banana")
print(y)

In [ ]:
#index
x = ["hello","banana","grapes"]
y = x.index("grapes")
print(y)

In [ ]:
#count
x = ["hello","banana","grapes"]
y = x.count("l")
print(y)

In [ ]:
#reverse
x = ["hello","banana","grapes"]
y = x.reverse()
print(y)

In [ ]:
#sort
x = [22,88,44,66,33]
y = x.sort()
print(y)

In [ ]:
#min
x = [22,88,44,66,33]
y = min(x)
print(y)

In [ ]:
#max
x = [22,88,44,66,33]
y = max(x)
print(y)

# 30/03/24

---

# TUPLE METHODS

---

In [ ]:
#count
x = (2,3,42,4,5,4,5,6,7,7,6,7,43,24,5,67)
y = x.count(7)
print(y)

3
2

In [ ]:

#index
x = (2,34,45,56,77,88,334,45,44)
y = x.index(45)
print(y)

# SET METHODS

---

In [ ]:
#add
x ={'apple','grapes','mango'}
x.add("kiwi")
print(x)

{'grapes', 'apple', 'kiwi', 'mango'}

In [ ]:
#clear
x ={'apple','grapes','mango'}
x.clear()
print(x)

In [ ]:
#copy
x ={'apple','grapes','mango'}
x.copy()
print(x)

In [ ]:
#difference
x ={'apple','mango','grapes','dragonfruit'}
y={'apple','guova','pineapple'}
z = x.difference(y)
print(z)

In [ ]:
#difference update
x ={'apple','mango','grapes','dragonfruit'}
y={'apple','guova','pineapple','dragonfruit'}
x.difference_update(y)
print(x)

In [ ]:
#discard
x ={'apple','grapes','mango'}
x.discard("mango")
print(x)

In [ ]:
#pop
x ={'apple','grapes','mango'}
x.pop()
print(x)

In [ ]:
#remove
x ={'apple','grapes','mango'}
x.remove('apple')
print(x)

In [ ]:
#update
x ={'apple','grapes','mango'}
y ={'apple','kiwi','guoava'}
x.update(y)
print(x)

In [ ]:
#intersection
x ={'apple','grapes','mango'}
y ={'apple','kiwi','guoava'}
z = x.intersection(y)
print(z)

In [ ]:
#intersection update
x={'apple','grapes','mango'}
y ={'apple','kiwi','guoava'}x.intersection_update(y)
print(x)

In [ ]:
#is disjoint
x ={'apple','banana'}
y={'kiwi','grapes'}
z = x.isdisjoint(y)
print(z)

In [ ]:
#is subset
x = {'apple','banana','kiwi'}
y = {'apple','kiwi','grapes','python','java'}
z = x.issubset(y)
print(z)

In [ ]:
#is superset
x = {'apple','banana','kiwi'}
y = {'hut','light','fan'}
z = x.issuperset(y)
print(z)

In [ ]:
#symmetric difference
x = {'apple','banana','kiwi'}
y = {'hut','light','fan'}
z = x.symmetric_difference(y)
print(z)

In [ ]:
#symmetric_difference_update
x = {'apple','banana','kiwi'}
y = {'hut','light','fan'}
x.symmetric_difference_update(y)
print(x)

In [ ]:
#union
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

# DICTIONARY METHODS

---

In [ ]:
#clear
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
brand.clear()
print(brand)

{}

In [ ]:
#copy
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
brand.copy()
print(brand)

In [ ]:
#fromkeys
x = ('key1','key2','key3')
y = 0
z = dict.fromkeys(x,y)
print(z)

In [ ]:
#get
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
x = brand.get("model")
print(x)

In [ ]:
#items
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
x = brand.items()
print(x)

In [ ]:
#values
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
x = brand.values()
print(x)

In [ ]:
#keys
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
x = brand.keys()
print(x)

In [ ]:
#pop
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
x = brand.pop("model")
print(x)

In [ ]:
#pop item
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
brand.popitem()
print(brand)

In [ ]:
#set default
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
x = brand.setdefault("model","s-class")
print(x)

In [ ]:
#update
brand ={
    "car":"mercedes",
    "model":"g-wagon",
    "year":2022
}
brand.update({"owner":"balu"})
print(brand)

# 02/04/24

---

password validation using for loop

In [ ]:
def validate_password(password):
    min_length = 8
    has_uppercase = False
    has_lowercase = False
    has_digit = False
    has_special_char = False
    special_characters = "!@#$%^&*()_+[]{}|;:,.<>?~"

    for char in password:
        if char.isupper():
            has_uppercase = True
        elif char.islower():
            has_lowercase = True
        elif char.isdigit():
            has_digit = True
        elif char in special_characters:
            has_special_char = True

    if (
        len(password) >= min_length
        and has_uppercase
        and has_lowercase
        and has_digit
        and has_special_char
    ):
        return True
    else:
        return False

password = input("Enter your password: ")
if validate_password(password):
    print("Valid password.")
else:
    print("Invalid password. Please make sure your password meets the criteria.")

Enter your password: safnoubag
Invalid password. Please make sure your password meets the criteria.

find the maximum and minimum tempartures

In [ ]:
x = [22,33,44,55,66,77,88]

max_temp = x[0]
min_temp = x[0]

for i in x:
  if i > max_temp:
    max_temp = i
  if i < min_temp:
    max_temp = i
print(f"maximum temperature:{max_temp}")
print(f"minimum_temperture:{min_temp}")

maximum temperature:88
minimum_temperture:22

find the average temperature:

In [ ]:
x = [22,33,44,55]
y = 0
z = len(x)

for i in x:
  y += i

average_temp = y / z
print(f"AVERAGE TEMPERATURE:{average_temp}")

AVERAGE TEMPERATURE:38.5

find gcd of two numbers using import math.gcd

In [ ]:
import math

num1 = 12
num2 =18

x = math.gcd(num1,num2)
print(f"gcd of {num1} and {num2} is {x}")

gcd of 12 and 18 is 6

# 03/04/24                              

---

Built in functions for python

In [ ]:
#abs function
x = abs(-7.05)
print(x)

7.05

In [ ]:
#all function
x = ('true','false','true')
y = all(x)
print(y)

True

In [ ]:
#any function
x = ('true','false','true')
y = any(x)
print(y)

True

In [ ]:
#ascii function
x = ("this is prådeep")
y = ascii(x)
print(y)

'this is pr\xe5deep'

In [ ]:
#bool
x= 1
print(bool(x))

True

In [ ]:
#input
x= int(input())
print(x)

3
3

In [ ]:
#int
x = "30"
y = int(x)
print(y)

30

In [ ]:
#str
x = 30
y= str(x)
print(y)

30

In [ ]:
#list
x = [11,22,33,44,55]
print(x)

[11, 22, 33, 44, 55]

In [ ]:
#enumerate
x = ("hello","hii","bye bye")
y = enumerate(x)
print(y)

<enumerate object at 0x7e7e09227100>

Remove duplicates from a list

In [ ]:
x = [22,33,44,44,55,66]
y = set(x)
z = list(y)
print(z)

[33, 66, 44, 22, 55]

find all the odd numbers in a list and then sum the odd numbers

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
even_num = []
odd_num = []

for i in x:
    if i % 2 == 0:
        even_num.append(i)
    else:
        odd_num.append(i)

z = sum(odd_num)
print(z)

64

# 04/04/24

---

# MATRIX PROBLEMS USING NUMPY

ADDING TWO MATRICES USING NUMPY

In [ ]:
import numpy as np

matrix_a = np.array([[22,33],[33,44]])
matrix_b = np.array([[44,55],[66,77]])

add_matrix = np.add(matrix_a,matrix_b)

print(add_matrix)

[[ 66  88]
 [ 99 121]]

SUBTRACTING TWO MATRICES USING NUMPY

In [ ]:
import numpy as np

matrix_a = np.array([[44,33],[66,77]])
matrix_b = np.array([[99,88],[22,33]])

sub_matrix = (matrix_a - matrix_b)

print(sub_matrix)

[[-55 -55]
 [ 44  44]]

MULTIPLICATION OF TWO MATRICES USING NUMPY

In [ ]:
import numpy as np

matrix_a = [[33,44],[55,66]]
matrix_b = [[33,44],[77,88]]

multi_matrix = [[00,00],[00,00]]

multi_matrix = np.dot(matrix_a,matrix_b)

print(multi_matrix)

[[4477 5324]
 [6897 8228]]

ELEMENTS SWAPING IN MATRICES

In [ ]:
matrice = [[22,33,44],[55,66,77],[99,44,77]]

matrice[0][0], matrice[2][2] = matrice[2][2] , matrice[0][0]

for row in matrice:
  print(row)

[77, 33, 44]
[55, 66, 77]
[99, 44, 22]

TRANSPOSE A MATRIX

In [ ]:
import numpy as np

m = [[22,33,44],[44,55,66]]
n = np.transpose(m)
print(n)

[[22 44]
 [33 55]
 [44 66]]

# STAR PATTERNS

---

In [ ]:
#square
for i in range(0,5):
  for j in range(0,5):
    print('*',end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#triangle
for i in range(0,5):
  for j in range(0,i+1):
    print('*',end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
#reverse triangle
for i in range(0,5):
  for j in range(i,5):
    print('*', end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
#triangle on another side
for i in range(0,5):
  for j in range(i,5):
    print(' ',end=" ")
  for k in range(0,i+1):
    print('*',end=" ")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
#triangle on another side reverse
for i in range(0,5):
  for j in range(0,i+1):
    print(' ',end=" ")
  for k in range(i,5):
    print('*',end=" ")
  print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
#equlateral triangle
for i in range(0,5):
  for j in range(0,5-1-i):
    print(end=" ")
  for k in range(0,i+1):
    print('*',end=" ")
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#reverse equilateral triangle
for i in range(5,0,-1):
  for j in range(0,5-i):
    print(end=" ")
  for k in range(0,i):
    print("*", end=" ")
  print()

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
#diamond pattern
for i in range(0,5):
  for j in range(0,5-1-i):
    print(end=" ")
  for k in range(0,i+1):
    print("*",end=" ")
  print()
for i in range(5,0,-1):
  for j in range(0,5-i):
    print(end=" ")
  for k in range(0,i):
    print("*",end=" ")
  print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
rows = 5
columns = 5
for i in range(1, rows + 1):
    for j in range(i, i + rows * columns, rows):
        print(j, end=" ")
    print()

1 6 11 16 21
2 7 12 17 22
3 8 13 18 23
4 9 14 19 24
5 10 15 20 25

In [ ]:
#alphabetical pattern
rows = 6

current_char = ord('A')

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(chr(current_char), end=" ")
        current_char = (current_char - 65 + 1) % 26 + 65
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [ ]:
#inverted alphabetical pattern
rows = 6

current_char = ord('A')

for i in range(rows, 0, -1):
    for j in range(i):
        print(chr(current_char), end=" ")
        current_char = (current_char - 65 + 1) % 26 + 65
    print()

A B C D E F
G H I J K
L M N O
P Q R
S T
U

# Test-1

---

Write a program to find a minimum of three numbers.(Take user input)

In [ ]:
x = int(input("enter numer a:"))
y = int(input("enter numer b:"))
z = int(input("enter numer c:"))
p = int(input("enter numer d:"))

q = x,y,z,p

r = min(q)
print(r)

enter numer a:23
enter numer b:55
enter numer c:67
enter numer d:43
23

Give the total count of counter at the end of the programme.

In [ ]:
# counter=0
# While (counter++):
# 	counter+=2

Find even and odd without using (%) .

In [ ]:
number = int(input("Enter a number: "))

is_even = number % 2 == 0

if is_even:
    print(number, "is even")
else:
    print(number, "is odd")

Enter a number: 33
33 is odd

give output for this code

In [ ]:
print("python"[1+1])

t

give output for this code

In [ ]:
a={1,2,1}
b=len(a)^2
print(b)

0

Write a program that finds the longest word in a sentence using list comprehension.

In [ ]:
sentence = input("Enter a sentence: ")

words = sentence.split()
longest_word = max(words, key=len)

print("The longest word in the sentence is:", longest_word)

Enter a sentence: apple mango goa
The longest word in the sentence is: apple

Create a program that validates a password based on complexity rules (length, characters, special characters,numbers,uppers)

In [ ]:
def validate_password(password):
    min_length = 8
    has_uppercase = False
    has_lowercase = False
    has_digit = False
    has_special_char = False
    special_characters = "!@#$%^&*()_+[]{}|;:,.<>?~"

    for char in password:
        if char.isupper():
            has_uppercase = True
        elif char.islower():
            has_lowercase = True
        elif char.isdigit():
            has_digit = True
        elif char in special_characters:
            has_special_char = True

    if (
        len(password) >= min_length
        and has_uppercase
        and has_lowercase
        and has_digit
        and has_special_char
    ):
        return True
    else:
        return False

password = input("Enter your password: ")
if validate_password(password):
    print("Valid password.")
else:
    print("Invalid password. Please make sure your password meets the criteria.")

Enter your password: Pradeep@92
Valid password.

print the pattern


```
* * * * *
* * * *
* * *
* *
*
* *
* * *
* * * *
* * * * *

```

In [ ]:
for i in range(0,5):
  for j in range(i,5):
    print('*', end=" ")
  print()
for i in range(0,5):
  for j in range(0,i+1):
    print('*',end=" ")
  print()

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

print any Dictionary taking a user input.

In [ ]:
x = int(input("enter no.of key value pairs:"))
user_dict = {}

for i in range(x):
  key = input("enter key:")
  value = input("enter value:")
  user_dict[key]= value
print(user_dict)

# Test-2

---

 write a Program to print the ASCII Value of a character.(character must be taken as user input)

In [ ]:
x = input("enter a charcter:")
y = ord(x)
print(f"ascii value of {x} is {y}")

enter a charcter:p
ascii value of p is 112

Python Program to Add Two Matrices.(just Initialize the variables)

In [ ]:
import numpy as np

a = np.array([[22,33,44],[33,44,55]])
b = np.array([[33,44,55],[11,22,33]])

z = a*b

print(z)

[[ 726 1452 2420]
 [ 363  968 1815]]

write a Python Program for cube sum of first n natural numbers(Take user input.)

In [ ]:
sum = 0
n = 8
for i in range(n+1):
  sum = sum+i**3
print(sum)

1296

write a python program to merge two lists of numbers and print the ascending order of the list at the end.

In [ ]:
x = [11,22,33,44,55]
y = [23,66,77,88,99]
z = x+y
p  = sorted(z)
print(p)

[11, 22, 23, 33, 44, 55, 66, 77, 88, 99]

   Give me the output of the following code.

In [ ]:
a,b,*c,d=[1,2,3,4,5,6,7,8]
print(a)
print(b)
print(*c)
print(d)

1
2
3 4 5 6 7
8

write a program for Counting Consonants in a Given sentence(take the sentence as the user input).

In [ ]:
sentence = input("Enter a sentence: ")
consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
consonant_count = 0

for char in sentence:
    if char in consonants:
        consonant_count += 1
print("Number of consonants:", consonant_count)

Enter a sentence: balu manchi baludu
Number of consonants: 9

print the given pattern and take the row count as user input.

```

    0
    0 1   
    0 2 4  
    0 3 6 9  
    0 4 8 12 16

```

In [ ]:
for i in range(0,5):
  for j in range(0,i+1):
    print(i*j, end=" ")
  print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16

Give me the output of the following code.

In [ ]:
# a = '5' print(int(a))


**What is a lambda function?**

A lambda function in Python is a small anonymous function defined using the lambda keyword. It can have any number of arguments, but can only have one expression. Lambda functions are useful when you need a short function for a short period of time, particularly when you want to pass a function as an argument to another function

# SORTING METHODS


---



1.   BUBBLE SORT
2.   SELECTION SORT
3.   INSERTION SORT


---

In [ ]:
#BUBBLE SORT

# SEARCHING METHODS




---


1.   LINEAR SEARCH
2.   BINARY SEARCH


---

In [ ]:
#LINEAR SEARCH

# 28/05/24

python code to send the repated numbers into one list and unique numbers in another list

In [ ]:
numbers = [1, 2, 3, 4, 2, 3, 5, 6, 7, 8, 9, 1, 4]

x = []
y = []

for num in numbers:
    if numbers.count(num) > 1 and num not in x:
        x.append(num)
    elif numbers.count(num) == 1:
        y.append(num)

print("Repeated Numbers:", x)
print("Unique Numbers:", y)

Repeated Numbers: [1, 2, 3, 4]
Unique Numbers: [5, 6, 7, 8, 9]

python code to remove repated words in a string which is in a array

In [ ]:
string_array = ["hello", "world", "hello", "python", "is", "world", "hello"]

unique_words = []

for word in string_array:
    unique_word = []
    for char in word:
        if char not in unique_word:
            unique_word.append(char)
    unique_words.append("".join(unique_word))

print("Unique Words:", unique_words)

Unique Words: ['helo', 'world', 'helo', 'python', 'is', 'world', 'helo']